* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

li {
  marker: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}

.App-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer {
  display: flex;
  height: 50px;
  flex-shrink: 0;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.timer {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  &__heading {
    margin: 15px 0;
  }
  &__info {
    margin: 0 0 15px 0;
  }
  &__digits {
    width: 300px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: #f1f1f1;
  }
  &__digit {
    display: block;
    width: 60px;
    padding: 15px 10px;
  }
  &__buttons {
  }
  &__button {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    &::before,
    &::after {
      content: "";
      display: block;
    }
    &--start {
      padding-right: 0;
      &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent #282c34;
      }
    }
    &--stop {
      &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px;
        border-color: #282c34;
      }
    }
    &--wait {
      padding-right: 5px;
      padding-left: 5px;
      &::before {
        width: 0;
        height: 20px;
        border-style: double;
        border-width: 0px 0px 0px 20px;
        border-color: #282c34;
      }
    }
    &--restart {
      &::before {
        content: "\21bb";
      }
      color: #282c34;
      font-size: 30px;
      line-height: 1;
      padding: 0;
    }
  }
}
